.main
  align-items: center
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-wrap: wrap
  width: 100%
  justify-content: center
  position: relative

.title
  color: $color-text-dark
  display: block
  font: italic 300 1.6em $font
  margin: 0 0 0.2em

.text
  color: $color-text-dark
  display: block
  font: 300 0.9em $font
  margin: 0 0 1em

@import '--level/main--level.styl'
@import '--result/main--result.styl'
@import '--welcome/main--welcome.styl'
