.logo
  background: url("/img/melody-logo.png") center no-repeat
  height: 83px
  left: 50%
  overflow: hidden
  position: absolute
  text-indent: -100em
  top: 0
  transform: translateX(-50%)
  width: 186px
