$color-beige = #f0eed5
$color-orange = #ff9749
$color-text-dark = #230d1a
$color-text-grey = gray
$font = "Fira Sans", sans-serif
$layout-height = 100vh
$layout-width = 780px

html, body
  padding: 0
  margin: 0
  font-size 16px

html
  background: #1d121f linear-gradient(90deg, #1d121f, #270a17)

body
  color: #fff
  background-color: $color-beige
  font: 1em $font
  min-height: $layout-height

.app
  display: flex
  align-items: center
  position: relative
  max-width: $layout-width
  min-height: $layout-height
  margin: auto
  padding 0 12px

.copyright
  bottom: 2em
  color: $color-beige
  font-size: 0.9em
  font-weight: 300
  position: absolute
  right: 0
  white-space: nowrap

.copyright-link
  color: $color-orange

.copyright-link::before
  bottom: 100%
  content: url("/img/ha-logo.png")
  height: 50px
  left: 0
  margin-bottom: 0.5em
  position: absolute
  width: 145px

.copyright-link:hover
  color: #f00

@media (min-width: 640px)
  body
    background: url("/img/vinyl.png") center no-repeat
    font-size 1.2em
  app
    padding 0
